<p style="color: green"><%= notice %></p>

<%= render @trip %>

<div>
  <%= link_to t('.edit_trip'), edit_trip_path(@trip) %> |
  <%= link_to t('trips.back'), trips_path %>

  <%= button_to t('.destroy_trip'), @trip, method: :delete %>
</div>
