<h2 class="text-center text-2xl font-bold mb-2 mt-4">FishSpot</h2>

<div class="flex justify-center items-center min-h-screen">
  <div class="w-full max-w-md bg-white p-8 rounded shadow-xl mt-0">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="mb-2">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="flex items-center justify-between">
        <%= f.submit "Resend confirmation instructions", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

    <div class="mt-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>