<h2 class="text-center text-2xl font-bold mb-2 mt-4">FishSpot</h2>

<div class="flex justify-center items-center min-h-screen">
  <div class="w-full max-w-md bg-white p-8 rounded shadow-xl mt-0">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.fields_for :profile do |pf| %>
        <div class="mb-2">
          <%= pf.label :first_name, class: "block text-gray-700 text-sm font-bold mb-1" %>
          <%= pf.text_field :first_name, placeholder: 'First name *', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-2">
          <%= pf.label :last_name, class: "block text-gray-700 text-sm font-bold mb-1" %>
          <%= pf.text_field :last_name, placeholder: 'Last name *', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-2">
          <%= pf.label :phone, class: "block text-gray-700 text-sm font-bold mb-1" %>
          <%= pf.text_field :phone, placeholder: 'Phone', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-2">
          <%= pf.label :description, class: "block text-gray-700 text-sm font-bold mb-1" %>
          <%= pf.text_area :description, cols: 40, rows: 3, placeholder: 'Tell us about yourself ;)', class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>

      <div class="mb-2">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-2 text-gray-700">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="mb-2">
        <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-1" %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="mb-2">
        <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-1" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-2">
        <%= f.label :current_password, class: "block text-gray-700 text-sm font-bold mb-1" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="flex items-center justify-between">
        <%= f.submit "Update", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

    <h3 class="text-center text-xl font-bold mt-4">Cancel my account</h3>

    <div class="text-center text-gray-700 mb-4">
      Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mt-4 text-center">
      <%= link_to "Back", :back, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  </div>
</div>