<div id="<%= dom_id fish %>">
  <p>
    <strong>Name:</strong>
    <%= fish.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= fish.quantity %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= fish.type %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= fish.weight %>
  </p>

</div>
